$color_tundora_approx: #444;
$black_30: rgba(0, 0, 0, 0.3);
$color_mercury_approx: #e2e6e6;
$black: #000;
$color_mountain_mist_approx: #999;
$color_anakiwa_approx: #a8f1ff;
$color_bondi_blue_approx: #0093b0;
$white: #fff;
